.slider {
  background: #fce8bd;
  position: relative;
  margin-top: -10px;
  height: 500px;
}

.slider-list {
  background: linear-gradient(95.06deg, #596e97 0%, #404a5e 50%, #272c35 100%);
  border-radius: 0px 56.6876px 56.6876px 56.6876px;
  width: 900px;
  height: 273px;
  margin: 0 auto;
  position: relative;
}

.slider .swiper-pagination {
  display: none;
}

.slider .swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: #ffffff;
}

.App .slider .slider-pic {
  width: 180px;
  height: 200px;
  margin-top: 50px;
  margin-left: 130px;
}

.slider-title {
  display: flex;
}

.slider-span {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.slider-name {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 590;
  font-size: 20px;
  line-height: 126.34%;
  color: #ffffff;
  width: 500px;
  padding-left: 40px;
}

.slider-lists {
  display: none;
}
.slider-text {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 274;
  font-size: 18px;
  line-height: 126.34%;
  color: #ffffff;
  width: 450px;
  margin-left: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-img {
  position: absolute;
  top: 5%;
  left: 5%;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.slider-pic {
  margin-left: 100px;
  margin-top: -20px;
  object-fit: contain;
}

.App .slider .swiper-slide:nth-child(1) {
  margin-left: -850px;
}



.slider-button-prev {
  border: 0.622417px solid #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  transition: 0.3s all ease;
  cursor: pointer;
}

.slider-button-next {
  border: 0.622417px solid #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 79%;
  transition: 0.3s all ease;
  cursor: pointer;
}

.slider .slider-button-prev svg path {
  fill: #000000;
}

.slider .slider-button-next svg path {
  fill: #000000;
}

.button-next-slide {
  position: absolute;
  z-index: 1100;
  top:85%;
  left: 50%;
}

.button-prev-slide {
  position: absolute;
  z-index: 11;
  top: 85%;
  left: 40%;
}

.slider .slider-button-next:hover {
  background: #d7b677;
}

.slider .slider-button-prev:hover {
  background: #d7b677;
}
