@media (max-width: 1440px) {
  .container {
    width: 100%;
  }

  .news .news-list {
    justify-content: space-evenly;
  }

  .news{
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }

  .App .meeting {
    padding: 70px 100px;
  }
}

@media (max-width:1080px) {
  
  .container{
    width: 100%;
  }
  .App .sidebar{
    margin-top: 80px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }

  .App .sidebar{
    margin-top: 0;
  }

  .news{
    padding-left: 10px;
    padding-right: 10px;
  }

  .App .meeting{
    padding: 40px 30px;
  }

  .sidebar .sidebar-item {
    margin: 0 10px;
  }

  .news .news-name {
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
  }
}

@media (max-width: 580px) {
  .container {
    width: 100%;
  }
  .news .news-home{
    justify-content: center;
  }
  .news-button{
    margin: 0 auto;
  }
  .news .news-title {
    width: 80%;
    height: 290px;
    margin: 15px auto;
  }
  .news .section-pic {
    width: 95%;
  }

  .news .news-top {
    flex-direction: column;
    display: flex;
  }

  .news .news-titles {
    text-align: center;
    width:90%;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 460px) {
  .container {
    width: 100%;
  }

  .news .news-title {
    height: 290px;
  }

  .App .news-list {
    margin-left: 0;
  }
  .App .news-button {
    margin: 0 auto;
  }
  .App .news-home {
    justify-content: center;
  }
  .news .section-pic {
    width: 92%;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }

  .news .news-title {
    height: 290px;
  }
  .news .news-subtext {
    font-size: 12px;
  }

  .news .news-titles {
    width: 90%;
  }
}


@media (max-width:330px) {
  .news .news-home{
    padding: 0;
  }
  .news .news-name{
    text-align: center;
    margin-bottom: 15px;
  }

  .footerr .footer-sub{
    display: flex;
    flex-direction: column;
  } 
  .footerr .footerr-links{
    width: 35px;
    height: 35px;
  }
  .footerr .footerr-texts {
    width: 100%;
  }
  .footerr .footerr-link{
    line-height: 18px;
  }
}