@media (max-width: 1600px) {
  .sidebar {
    margin-top: 90px;
    padding: 5px 20px;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
  }

  .news .news-list {
    justify-content: space-evenly;
  }

  .news {
    padding-left: 80px;
    padding-right: 80px;
  }

  .sidebar {
    margin-top: 80px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }

  .App .meeting {
    padding: 70px 100px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }
  .App .sidebar {
    margin-top: 80px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }

  body .App .sidebar {
    margin-top: 0;
  }

  .news {
    padding-left: 10px;
    padding-right: 10px;
  }

  .App .meeting {
    padding: 40px 30px;
  }

  .sidebar .sidebar-item {
    margin: 0 10px;
  }

  .news .news-name {
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
  }
}

@media (max-width: 580px) {
  .container {
    width: 100%;
  }
  .news .news-home {
    justify-content: center;
  }
  .news-button {
    margin: 0 auto;
  }
  .news .news-title {
    width: 80%;
    height: 290px;
    margin: 15px auto;
  }
  .news .section-pic {
    width: 95%;
  }

  .news .news-top {
    flex-direction: column;
    display: flex;
  }

  .news .news-titles {
    text-align: center;
    width: 90%;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 460px) {
  .container {
    width: 100%;
  }

  .news .news-title {
    height: 290px;
  }

  .App .news-list {
    margin-left: 0;
  }
  .App .news-button {
    margin: 0 auto;
  }
  .App .news-home {
    justify-content: center;
  }
  .news .section-pic {
    width: 92%;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }

  .news .news-title {
    height: 290px;
  }
  .news .news-subtext {
    font-size: 12px;
  }

  .news .news-titles {
    width: 90%;
  }
}

@media (max-width: 355px) {
  .news .news-home {
    padding: 0;
  }
  .content .content-titles{
    margin-left: 90px;
  }
  .news .news-name {
    text-align: center;
    margin-bottom: 15px;
  }

  .footerr .footer-sub {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footerr .footerr-links {
    width: 35px;
    height: 35px;
  }
  .footerr .footerr-texts {
    width: 100%;
    text-align: center;
  }
  .footer .footer-text {
    width: 100%;
    text-align: center;
  }
  .footer .footer-sub {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-texts {
    text-align: center;
  }
  .footerr .footerr-link {
    line-height: 18px;
    font-size: 16px;
  }
  .footerr .footer--list {
    text-align: center;
  }
  .footerr .footerr-name {
    text-align: center;
  }
  .footerr .footer-list:nth-child(1) {
    margin-left: 0;
  }
  .header .header-btn:last-child {
    margin-top: 20px;
    width: 150px;
    margin-left: 0;
  }
  .header .header-title {
    display: flex;
    flex-direction: column;
  }
  .service .service-img:nth-child(2) {
    width: 120px;
    margin-top: 70px;
  }
  body .App .service .service__pics {
    margin-top: 70px;
  }
  .service .servcie__pic {
    margin-top: 90px;
  }
  .service .service__img {
    margin-top: 60px;
  }

  .header .header-links {
    padding: 11px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-list {
    margin-top: 40px;
  }
  .rating .rating-number {
    font-size: 22px;
  }
  .rating .rating-text {
    font-size: 14px;
  }

  .aside-texts {
    overflow: hidden;
    flex-wrap: nowrap;
    max-height: 38px;
    width: 240px;
  }
  .aside-logo {
    width: 45px;
    height: 45px;
  }
  body .aside-button {
    top: 37%;
  }
  body .aside-spans {
    top: 42%;
  }
  /* .aside-page .slick-next {
    left: 66%;
    width: 40px;
    height: 40px;
  }
  .aside-page .slick-prev {
    left: 18%;
    width: 40px;
    height: 40px;
  } */
 .aside-page .aside-counts {
    top: 105%;
    left: 38%;
  }
 .aside-page .aside-count {
    top: 105%;
  }
  .about .about-item-link {
    margin-left: -60px;
  }
  .about .about-name {
    margin-left: 60px;
  }
  .about .about-title {
    margin-left: 40px;
  }
  body .about-icons {
    width: 95px;
    top: 38%;
    height: 95px;
  }
 
  body .App .catalog {
    padding: 20px 10px;
  }
  .slick .slick-item {
    height: 320px;
  }
  .slick .slick-name {
    padding: 10px 8px;
    max-height: 16px;
  }
  .slick .slick-text {
    margin-left: 8px;
  }

  .slick .slick-names {
    margin: 15px 10px;
    margin-top: 25px;
  }
  .slick-counts {
    top: -36%;
    left: 55%;
    font-size: 22px;
  }
  .slick-count {
    top: -36%;
    font-size: 22px;
  }
  .sublime .sublime-img {
    height: 300px;
    object-fit: cover;
    margin: 10px 0;
    margin-top: 20px;
  }
  body .modal_content {
    width: 90%;
  }
  .content .content-btn {
    width: 170px;
    height: 48px;
  }
  .slick {
    padding: 30px 0;
  }

  body .modal_content-video {
    width: 270px;
    height: 170px;
  }
  body .content-video-modal {
    height: 150px;
  }
  body .close-modal {
    left: 90%;
  }
  .footer__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer .footer-link {
    font-size: 16px;
    text-align: center;
  }
  .footer .footer-name {
    text-align: center;
    margin: 15px auto;
  }
  .footer .footer-list:nth-child(2) {
    margin: 0;
  }
  .footer .footer--list {
    margin-right: 35px;
    text-align: center;
  }

  body .footer-lists {
    justify-content: center;
  }
  .footerr .footer-title {
    justify-content: center;
    flex-direction: column;
  }

  body .header-subname {
    font-size: 22px;
  }
  .modal .header-close {
    left: 82%;
  }

  .slick .slick-button-next {
    top: -36%;
    left: 80%;
  }
  .slick .slick-count {
    top: -37.5%;
    left: 70%;
  }
  .slick .slick-counts {
    top: -37.5%;
  }
  .slick .slick-button-prev {
    top: -36%;
    left: 26%;
  }

  .App .section .section-sub {
    font-size: 9px;
  }
  .App .section .section-btn {
    width: 65px;
  }

  body .App .footer .footer-list {
    text-align: center;
  }
}
