.content {
  position: relative;
}

@font-face {
  font-family: SF Pro;
  src: url("../../../../assets/icons/San\ Francisco\ Font.otf");
}

@media (max-width: 2000px) {
  .content .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 4%;
  }
  .content-imgs {
    width: 100%;
    height: 820px !important;
  }
}
@media (max-width: 1800px) {
  .content .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: -2%;
  }
  .content-imgs {
    width: 100%;
    height: 705px !important;
  }
}
@media (max-width: 1600px) {
  .content .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 3%;
    left: -7%;
  }
  .content-imgs {
    width: 100%;
    height: 640px !important;
  }
}

.content-imgs {
  width: 100%;
  height: 800px !important;
}

.content-name {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 95%;
  color: #ffffff;
  max-width: 450px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.content-titles {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid #fff;
  margin-left: 25px;
}

.content-span {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  width: 180px;
  position: relative;
  max-height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-text {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 274;
  font-size: 18px;
  line-height: 130%;
  color: #ffdaae;
  width: 450px;
  margin-left: -40px;
}

.content-list {
  display: flex;
  margin-top: 160px;
  margin-bottom: 50px;
  margin-left: -60px;
}

.content-btn {
  margin: 0 20px;
  background: #5f5e5d;
  border: none;
  background-blend-mode: soft-light;
  backdrop-filter: blur(8px);
  cursor: pointer;
  border-radius: 114.733px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14.85px;
  line-height: 111.34%;
  width: 216px;
  height: 56.02px;
  transition: 0.5s all ease-out;
}

.content-btn:hover {
  background-color: rgb(239, 235, 235);
  color: #000;
}

.content .swiper .swiper-pagination {
  top: 100%;
  z-index: 2;
  position: relative;
  left: 50%;
}

.content .swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.content-video-modal {
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 470px;
}

.close-modal {
  position: relative;
  left: 97.43%;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-close-img {
  width: 25px;
  height: 20px;
}

.content-img-span {
  background-color: #655240;
  border: 2px solid #655240;
  width: 50px;
  height: 50px;
  margin-left: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s all ease-in-out;
  margin-left: -3px;
}
.content-img-span:hover svg path {
  fill: #655240;
}

.content-img-span:hover {
  background-color: #fff;
  border: 1px solid #000;
}

.content-span-img {
  background-color: #a39481;
  border: 2px solid #a39481;
  width: 50px;
  height: 50px;
  margin-left: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease-in-out;
  margin-left: 5px;
}

.content-span-img:hover svg path {
  fill: #a39481;
}

.content-span-img:hover {
  background-color: #fff;
  border: 1px solid #000;
}
