@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
 .App .about .about-icons{
    left: 6%;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
  .App .footerr .container {
    width: 100%;
  }

  .App .footerr {
    padding-left: 15px;
  }

  .slick .container {
    margin-left: 0px;
    width: 100%;
  }
  .slick .slick-items {
    left: 68%;
  }

  body .App .catalog {
    padding: 50px 40px;
  }

  .slick .slick-list {
    justify-content: center;
  }

  .footerr .footer-logos {
    width: 140px;
  }
  .footerr .footerr-link {
    font-size: 18px;
  }

  .footerr .footerr-items {
    width: 48px;
    height: 50px;
  }
  .nav .navbar-list {
    justify-content: space-around;
  }

  .slick .slick-item {
    width: 240px;
  }

  .slick .slick-img {
    width: 230px;
  }
  .catalog .catalog-text {
    font-size: 18px;
    line-height: 24px;
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }
  .slick .slick-img {
    width: 90%;
    height: 150px;
  }

  .footerr .footer-title {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .slick .slick-list {
    flex-wrap: wrap;
    margin: 0;
  }
  
  .service .service__img{
    padding-left: 120px;
  }

  .nav .nav-link img {
    width: 140px;
  }

  .footerr .footerr-text {
    font-size: 18px;
    width: 210px;
  }
  .footerr .footerr-texts {
    font-size: 18px;
  }

  .nav .navbar-links {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }

  /* .slick .slick-next {
    top: -19%;
    left: 78%;
  } */
  .slick .slick-items {
    top: 5%;
    left: 60%;
  }
  /* .slick .slick-prev {
    top: -19%;
    left: 54%;
  } */
  .slick {
    padding: 50px 20px;
  }
  .slick-names {
    font-size: 18px;
  }
  .nav .navbar-list {
    display: none;
  }

  body .App .catalog {
    padding: 40px 30px;
    margin-top: 0px;
    padding-top: 90px;
  }

  .slick .slick-item {
    width: 42%;
  }
  .slick .slick-img {
    width: 90%;
    margin-left: 10px;
  }

  .slick .slick-text {
    width: 90%;
  }

  .footerr .footerr-link {
    font-size: 16px;
  }
  .footerr .footerr-text {
    font-size: 16px;
  }
  .footerr .footerr-items {
    width: 38px;
    margin: 0 15px;
    height: 38px;
  }

  .catalog .catalog-text {
    width: 90%;
    font-size: 16px;
    max-height: 70px;
  }
  .slick .slick-names {
    font-size: 25px;
    line-height: 28px;
  }
  .slick .slick-name {
    font-size: 20px;
    line-height: 16px;
  }
  .slick .slick-names {
    margin-left: 50px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .slick .slick-item {
    height: 340px;
  }

  .slick .slick-counts {
    left: 69%;
    top: -31%;
  }
  .slick .slick-count {
    left: 79%;
    top: -31%;
  }

  .slick .slick-button-next{
    left: 86%;
    top: -32%;
  }
  .slick .slick-button-prev{
    left: 52%;
    top: -32%;
  }

  .slick .slick-text{
    margin-top: 0px;
    margin-left: 15px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }

  .footerr .footer-logos{
    width: 100px;
  }

  .slick .slick-page{
    display: none;
  }
  .slick .slick-box{
    display: block;
  }

  .slick .slick-img {
    width: 92%;
    margin-left: 0;
    padding: 10px 15px;
  }

  .slick .container {
    width: 90%;
  }
  .slick-slide > div {
    margin: 0 30px;
  }

  .slick .slick-item {
    height: 320px;
  }
  .slick .slick-text {
    margin-top: 15px;
  }

  .footerr .footer--list {
    margin: 0;
    margin-left: -25px;
  }
  .footerr .footerr-link {
    font-size: 12px;
  }

  .footerr .footer-title {
    width: 100%;
  }
  .footerr .footerr-name {
    margin-left: 15px;
    font-size: 18px;
  }

  .catalog .catalog-text {
    font-size: 14px;
    width: 100%;
  }

  .App .catalog-imgs {
    height: 270px;
  }

  .slick .slick-item {
    width: 320px;
    height: 360px;
  }

  .slick .slick-title {
    padding: 0;
  }

  .slick .slick-names {
    font-size: 18px;
    line-height: 24px;
  }

  .footerr .footer-list:nth-child(1) {
    margin-left: 10px;
  }

  .footerr .footerr-texts {
    font-size: 14px;
    line-height: 18px;
    width: 80%;
  }
  .footerr .footerr-text {
    font-size: 14px;
    width: 180px;
    line-height: 20px;
  }

  .footerr .footer-list:nth-child(2) {
    margin-top: -25px;
  }
  /* .slick .slick-next {
    top: -19%;
    left: 78%;
    width: 40px;
    height: 40px;
  } */
  .slick .slick-items {
    top: 4%;
    left: 57%;
    font-size: 22px;
  }

  .slick .slick-button-prev{
    left: 40%;
  }
  /* .slick .slick-prev {
    top: -19%;
    left: 45%;
    width: 40px;
    height: 40px;
  } */
  .slick .slick-names {
    margin-left: 15px;
    padding-top: 25px;
  }
  .slick .slick-count{
    top: -31%;
    left: 78%;
  }
  .slick .slick-counts{
    top: -31%;
    left: 63%;
  }
}

@media (max-width: 450px) {
  /* .slick .slick-next {
    top: -19%;
    left: 84%;
  } */
  .slick .slick-items {
    left: 54%;
    top: 3%;
  }

  .slick .slick-name{
    max-height: 24px;
  }

  .slick .slick-button-prev{
    left: 30%;
  }

  /* .slick .slick-next {
    top: -19%;
    left: 86%;
    width: 40px;
    height: 40px;
  } */
  .slick-counts {
    left: 54%;
  }
  /* .slick .slick-prev {
    top: -19%;
    left: 38%;
    width: 40px;
    height: 40px;
  } */
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }

  .App .footerr .footerr-links {
    width: 37px;
    height: 40px;
  }
  .footerr .footerr-items {
    margin: 0 8px;
  }
  .App .category .category-texts {
    font-size: 12px;
  }

  .category .category-subname {
    font-size: 18px;
  }

  body .App .aside-page .aside-left {
    width: 100%;
  }
}


