.homepage-list {
  background-image: url("../../assets/img/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (max-width: 2000px) {
  /* .App .navbar {
    bottom: 90%;
  } */

  .homepage-list {
    height: 100vh;
  }

  .header {
    padding-top: 300px;
  }

  .header-name {
    font-size: 50px;
  }

  .about .about-icons {
    left: 14%;
  }
}

@media (max-width: 1800px) {
  /* .App .navbar {
    bottom: 93%;
  } */

  .homepage-list {
    height: 100vh;
  }
  .header {
    padding-top: 220px;
  }
}

@media (max-width: 1600px) {
  .homepage-list {
    height: 100vh;
  }

  .header {
    padding-top: 170px;
  }
  .header .header-name,
  .header .header-text,
  .header .header-title,
  .header .header-list {
    padding-left: 80px;
  }

  /* .App .navbar {
    bottom: 87%;
  } */
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
  }

  /* .App .navbar {
    bottom: 86%;
  } */

  .App .meeting {
    padding: 70px 140px;
  }

  .App .category .category-texts {
    margin-left: 230px;
  }

  .header {
    padding-top: 110px;
  }

  .header .header-name,
  .header .header-text,
  .header .header-title,
  .header .header-list {
    padding-left: 240px;
  }
  .section .section-names {
    padding-left: 120px;
  }

  .App .category .container {
    width: 100%;
  }

  .App .about .container {
    left: -23% !important;
  }

  .service .service-list {
    justify-content: center;
  }

  .App .content .container {
    left: -18%;
  }

  body .modal_content-video {
    width: 750px;
  }

  body .close-modal {
    left: 96.7%;
  }
  body .rating {
    padding-left: 140px;
    padding-bottom: 60px;
  }

  .App .catalog {
    padding: 50px 200px;
  }
}

@media (max-width: 1380px) {
  .section .section-names {
    padding-left: 80px;
  }

  .App .catalog {
    padding: 50px 160px;
  }

  .news .news-top {
    padding: 0 50px;
  }

  .App .category .category-texts {
    margin-left: 200px;
  }
  .news .news-home {
    padding: 0 50px;
  }
  .news .news-list {
    margin-left: 0;
  }
  .header-name,
  .header-text,
  .header-title,
  .header-list {
    padding-left: 210px;
  }

  .App .form {
    padding: 40px 70px;
  }
  .slider .swiper-backface-hidden .swiper-slide:nth-child(1) {
    margin-left: -750px;
  }

  .App .footerr {
    padding-left: 100px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
  .App .category .category-texts {
    margin-left: 140px;
  }

  .meeting .meeting-button {
    top: 68%;
  }
  .meeting .meeting-text {
    overflow: hidden;
    flex-wrap: nowrap;
    max-height: 230px;
  }

  body .header-close {
    left: 85%;
  }
  .header-name,
  .header-text,
  .header-title,
  .header-list {
    padding-left: 150px;
  }

  body .modal_content {
    width: 850px;
    height: 420px;
  }
  body .header-imgs {
    width: 280px;
    height: 280px;
  }

  body .header-input {
    width: 300px;
  }

  .rating {
    padding-left: 80px;
  }

  .section .section-names {
    margin-left: 120px;
  }

  .slider .slider-list {
    width: 770px;
  }

  .slider .slider-img {
    right: 37%;
  }
  .slider .slider-pic {
    margin-left: 50px;
  }
  .slider .slider-name {
    font-size: 18px;
    width: 100%;
    margin-left: -45px;
  }
  .slider .slider-text {
    font-size: 16px;
    width: 100%;
  }

  .App .footer .container {
    width: 100%;
  }

  body .navbar {
    bottom: 89%;
  }
}

/* @media (max-width: 1180px) {
  .meeting .meeting-text {
    overflow: hidden;
    flex-wrap: nowrap;
    max-height: 230px;
  }
} */

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }

  .header-name,
  .header-text,
  .header-title,
  .header-list {
    padding-left: 60px;
  }

  .navbar svg {
    width: 150px;
    height: 80px;
  }
  .navbar .navbar-item {
    margin: 0 8px;
  }

  .section .section-names {
    margin-left: 80px;
  }

  .navbar .navbar-links {
    font-size: 12px;
  }
  .navbar .actives {
    font-size: 12px;
  }

  .navbar .navbar-list {
    justify-content: space-around;
    width: 900px;
  }

  .App .navbar {
    bottom: 85%;
  }

  .section .section-list {
    width: 800px;
  }
  .section .section-img {
    width: 250px;
  }
  .section .section-page {
    flex-wrap: wrap;
  }
  .section .section-title {
    margin: 10px 13px;
  }

  .App .form {
    padding: 40px;
  }

  .form .form-input {
    width: 80%;
  }
  .form textarea {
    width: 80%;
  }
  .App .slider .slider-img {
    display: none;
  }
  body .App .slider .slider-pic {
    margin-left: 20px;
    width: 120px;
    height: 150px;
  }
  .slider .slider-name {
    width: 300px;
    font-size: 18px;
  }
  .slider .slider-text {
    width: 250px;
    margin-left: -50px;
    font-size: 14px;
  }
  .slider .slider-list {
    width: 85%;
  }
  .service .service-title {
    width: 450px;
  }
  .category .category-name {
    font-size: 32px;
    line-height: 35px;
    width: 370px;
  }
  .category .category-right {
    margin: 0 20px;
    width: 310px;
  }
  .category .category-right:nth-child(1) {
    margin-left: 0px;
  }
  .content .content-name {
    font-size: 80px;
    line-height: 85px;
  }
  .category .category-left {
    margin-left: 50px;
  }

  .App .footer {
    padding-left: 20px;
  }

  .footer .footer-link {
    font-size: 16px;
  }
  .service .service-text {
    font-size: 16px;
  }

  .category .category-img {
    width: 250px;
  }
  .category .category-subtext {
    font-size: 16px;
    width: 250px;
  }

  .footer .footer-title {
    flex-wrap: wrap;
  }

  .footer .footer-logos {
    width: 140px;
  }
  .footer .footer-text {
    font-size: 16px;
    width: 240px;
  }
  .footer .footer-texts {
    font-size: 18px;
  }
  .footer .footer-list {
    margin: 0 30px;
  }

  body .mySwiper {
    padding-left: 0px;
  }
  .slider .swiper-backface-hidden .swiper-slide:nth-child(1) {
    margin-left: 80px;
  }

  .App .nav .nav-list {
    max-width: 900px;
    padding: 0 15px;
  }
  .nav .navbar-item {
    margin: 0 5px;
  }
}

@media (max-width: 900px) {
  .nav .navbar-item {
    margin: 0 15px;
  }

  .news .news-top {
    padding: 0 30px;
  }
  .news .news-name {
    margin-top: 0;
  }
  .news .news-home {
    padding: 0 30px;
  }
  body .App .sidebar {
    padding: 10px 0px;
    margin-top: 70px;
  }
  .App .nav .nav-list {
    max-width: 800px;
    padding: 0 15px;
  }
  .nav .navbar-item {
    margin: 0 5px;
  }
  .nav .nav-link img {
    width: 120px;
  }
  .nav .navbar-links {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }

  .form .container {
    display: none;
  }
  .App .contact {
    display: block;
  }

  .App .contact {
    padding: 20px 30px;
  }

  .App .form {
    padding: 0;
  }

  .App .about .container {
    left: -17% !important;
  }
  .App .about-icons {
    left: 0%;
  }
  .about .about-title {
    margin-left: -230px;
  }

  .App .meeting {
    margin-top: 0;
  }

  .header {
    padding-top: 50px;
  }

  .homepage-list {
    height: 108vh;
  }

  .App .nav {
    display: none;
  }

  .App .navbar {
    display: none;
  }

  .section .section-list {
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
  }
  .section .section-img {
    width: 100%;
    height: 200px;
  }
  .section .section-btn {
    width: 120px;
  }
  .section .section-item {
    padding-left: 20px;
  }

  .App .contact {
    padding: 30px;
  }

  .contact .form-list {
    padding-left: 30px;
  }
  .contact .form-name {
    padding-left: 30px;
  }
  .contact .form-lists {
    padding-left: 20px;
  }

  .header .header-name {
    font-size: 36px;
    line-height: 40px;
    width: 80%;
    padding-left: 30px;
  }
  .header .header-text {
    padding-left: 30px;
  }
  .header .header-title {
    padding-left: 30px;
  }
  .rating .rating-list {
    margin: 0 30px;
  }

  .section .section-items .section-span {
    margin: 10px;
  }
  .section .section-title {
    width: 200px;
    height: 230px;
  }
  .section .section-pic {
    width: 180px;
  }
  .section .section-subname,
  .section .section-subtext,
  .section .section-links {
    padding-left: 12px;
  }

  .about .about-name {
    font-size: 36px;
    line-height: 40px;
  }

  .section .section-text {
    width: 100%;
  }

  .content .content-name {
    font-size: 70px;
    line-height: 75px;
    width: 300px;
  }
  .content .content-span {
    font-size: 16px;
    margin-top: -48px;
  }
  .content .content-text {
    font-size: 16px;
    width: 340px;
    margin-left: 40px;
  }

  .content .content-list {
    margin-left: 100px;
  }

  .footer .footer-links {
    width: 43px;
    height: 45px;
  }
  .category .category-name {
    font-size: 25px;
    line-height: 30px;
    width: 330px;
  }
  .category .category-img {
    width: 200px;
    height: 180px;
  }

  .service .service-title {
    width: 500px;
  }
  .service .service-title:nth-child(2) {
    width: 500px;
  }
  .service .service-title:nth-child(3) {
    width: 500px;
  }
  .service .service-img:nth-child(2) {
    margin-left: 33px;
  }
  .slider .slider-list {
    width: 97%;
  }
  .App .content .container {
    top: 15%;
    left: -9%;
  }

  body .modal_content-video {
    width: 600px;
    height: 400px;
  }

  body .close-modal {
    left: 95.75%;
  }

  body .content-video-modal {
    height: 385px;
  }

  .App .navbar-mobile {
    display: block;
  }

  body .modal_content {
    width: 450px;
  }
  body .header-input {
    width: 70%;
  }

  .App .about .about-imgs {
    height: 700px;
    object-fit: cover;
  }

  .content .content-imgs {
    height: 700px;
    object-fit: initial;
  }
}

@media (max-width: 650px) {
  .container {
    width: 100%;
  }

  .App .contact .container {
    padding-bottom: 30px;
  }
  body .rating {
    padding-left: 50px;
  }

  .footer--list {
    margin: 0;
  }
  .App .footerr {
    padding-left: 0px;
  }

  .footerr-name {
    margin-left: 40px;
  }

  .slider .swiper-backface-hidden .swiper-slide:nth-child(1) {
    margin-left: 80px;
  }

  .App .category .category-right {
    width: 100%;
  }

  .App .category-list-link {
    display: block;
    margin-top: 25px;
  }

  .App .category {
    padding-bottom: 0px;
    padding-top: 80px;
  }

  .category .category-left {
    display: none;
  }
  .category .category-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  .category .mains {
    margin-top: 0;
    width: 90%;
  }
  .category .category-right {
    width: 100%;
  }

  .App .category .category-texts {
    margin-left: 40px;
  }
  .App .category .owl-item {
    width: 100%;
  }

  .footer .footer-list {
    margin: 0 10px;
  }
  .service .service-title {
    width: 90%;
  }
  .App .service .service-title:nth-child(2) {
    width: 90%;
  }
  .App .service .service-title:nth-child(3) {
    width: 90%;
  }
  .content .content-name {
    font-size: 60px;
    line-height: 65px;
  }
  .content .content-text {
    font-size: 14px;
  }
  .slider .slider-name {
    margin-left: -30px;
    font-size: 14px;
    width: 200px;
  }
  body .App .slider .slider-pic {
    width: 100px;
    height: 120px;
  }
  .slider .slider-list {
    height: 220px;
    width: 95%;
  }

  .slider .slider-text {
    margin-left: 0px;
    font-size: 12px;
    max-height: 30px;
    width: 200px;
  }
  .footer .footer-list:nth-child(1) {
    margin-left: 60px;
  }

  .modals .form-close {
    margin-left: 380px;
  }

  body .modal_content-video {
    width: 450px;
    height: 300px;
  }

  body .close-modal {
    left: 94.3%;
  }

  body .content-video-modal {
    height: 285px;
  }

  .service__img {
    padding-left: 130px;
  }

  .App .about .container {
    left: -7% !important;
  }
}

@media (max-width: 520px) {
  .container {
    width: 100%;
  }

  .category .category-subtext {
    margin: 10px auto;
    max-height: 40px;
  }

  .contact .form-lists {
    padding-left: 30px;
  }

  .header .container {
    height: calc(790px - 126px - 80px);
  }

  .App .rating .rating-name {
    padding-top: 20px;
  }

  body .App .header {
    padding-top: 60px;
  }

  .App .aside-button-right {
    left: 63%;
  }

  .App .aside-button-left {
    left: 30%;
  }

  .slider .slider-lists {
    display: block;
  }

  .slider .slider-item {
    display: none;
  }
  .section .section-names {
    margin-left: auto;
    padding-left: 0;
    text-align: center;
    padding-bottom: 15px;
  }
  .header .header-name {
    font-size: 27px;
    line-height: 35px;
    width: 80%;
  }
  .App .header {
    padding-left: 15px;
  }
  .header .header-img {
    width: 100px;
    margin: 0 10px;
  }

  .header .header-span {
    margin-top: 20px;
  }
  .header .header-text {
    width: 90%;
  }
  .rating .rating-number {
    font-size: 30px;
  }
  .rating .rating-text {
    font-size: 16px;
  }
  .rating .rating-list {
    margin: 0 10px;
  }
  .App .rating {
    padding-left: 20px;
  }

  .rating .rating-title {
    margin-left: 0;
  }

  .about .about-name {
    font-size: 27px;
    line-height: 30px;
    width: 300px;
  }

  .about-img {
    width: 160px;
  }

  .about-subname {
    margin-left: 25px;
  }

  .about .about-title {
    margin-left: -140px;
  }
  .about .about-text {
    width: 80%;
    margin-left: 90px;
  }

  .about .about-item-link {
    margin-left: -130px;
  }

  .App .contact {
    padding: 0;
    margin-top: -20px;
  }
  .contact .form-input {
    width: 85%;
  }
  .contact textarea {
    width: 85%;
  }

  .contact .form-list {
    padding-left: 30px;
  }

  .header .header-span {
    font-size: 14px;
    width: 180px;
  }

  .section .section-text {
    width: 95%;
  }

  .section .section-title {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-top: 35px;
  }
  .section .section-pic {
    width: 95%;
    height: 180px;
  }
  .section .section-btn {
    width: 90px;
  }

  .section .section-subtext {
    width: 90%;
    font-size: 12px;
  }
  .section .section-subname {
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
  }
  .section .section-links {
    font-size: 12px;
  }

  .App .section .section-span {
    margin: 10px 5px;
  }
  .footer .footer-link {
    font-size: 12px;
    line-height: 16px;
  }
  .footer .footer-list:nth-child(1) {
    margin-left: 10px;
  }
  .footer .footer-list:nth-child(2) {
    margin-top: -20px;
  }
  .footer .footer-links {
    width: 40px;
    height: 43px;
  }
  .footer .footer-logos {
    width: 100px;
  }
  .footer .footer-text {
    font-size: 14px;
    width: 180px;
    line-height: 18px;
  }
  .footer .footer-texts {
    font-size: 16px;
  }
  .content .content-name {
    font-size: 50px;
    line-height: 55px;
    width: 200px;
  }
  .content .content-span {
    font-size: 14px;
    width: 95px;
    margin-top: -40px;
    max-height: 38px;
    left: 25%;
  }
  .content .content-text {
    color: #ffffff;
    width: 80%;
    font-size: 12px;
    margin-left: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 32px;
  }
  .slider .slider-list {
    height: 180px;
    width: 350px;
  }
  body .App .slider .swiper-backface-hidden .swiper-slide:nth-child(1) {
    margin-left: auto;
  }
  .App .slider .slider-pic {
    margin-top: 20px;
  }
  body .App .slider .slider-pic {
    width: 100px;
    height: 120px;
  }
  .service .service-img:nth-child(2) {
    margin-left: 40px;
    width: 180px;
  }
  .service .service-text {
    font-size: 14px;
    max-height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .service .service__img {
    padding-left: 10px;
  }

  .App .service .service_img {
    margin-left: 10px;
  }
  .service .service-text:nth-child(1) {
    margin-top: 35px;
  }
  .slider .slider-name {
    font-size: 12px;
    margin-left: -45px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 35px;
    width: 200px;
  }
  .slider .slider-text {
    font-size: 14px;
    margin-left: -15px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38px;
    width: 200px;
  }

  .footer .footer--list {
    margin: 0;
  }
  .footer .footer-name {
    margin-left: 40px;
  }
  .footer .footer-list {
    margin: 0;
  }

  .App .rating {
    padding-bottom: 0px;
    padding-top: 0px;
    background-size: cover;
  }

  body .modal_contents {
    width: 280px;
  }
  .modals .form-close {
    margin-left: 280px;
  }
  .modals .form-modal-name {
    font-size: 20px;
  }

  .content .content-imgs {
    height: 500px;
  }

  .content .content-btn {
    width: 200px;
    margin: 15px 10px;
    font-size: 12px;
  }

  .content .content-img-span {
    width: 40px;
    height: 40px;
  }

  .content .content-list {
    display: flex;
    flex-direction: column;
    margin-left: -65px;
    margin-top: 50px;
  }

  .content .content-span-img {
    width: 40px;
    height: 40px;
  }

  body .modal_content-video {
    width: 350px;
    height: 240px;
  }

  body .close-modal {
    left: 93.3%;
  }

  body .content-video-modal {
    height: 225px;
  }

  .footer .footer-title {
    justify-content: space-around;
  }

  .App .header {
    padding-top: 100px;
  }

  .contact .form-name {
    font-size: 25px;
    padding-left: 30px;
  }
  .App .contact .container {
    padding-bottom: 35px;
  }

  .header .header-links {
    font-size: 12px;
    padding: 11px 28px;
  }
  .header .header-list {
    margin-left: 0px;
    padding-left: 20px;
    margin-top: 110px;
  }

  body .modal_content {
    width: 350px;
    margin: 0 auto;
  }
  body .header-input {
    width: 70%;
  }
  .modal .header-submit {
    width: 88%;
  }

  .service .servcie__pic {
    margin-top: 38px;
  }
  body .App .service .service__pics {
    margin-top: 18px;
  }
  .App .content .container {
    top: 8%;
  }
  .content .content-imgs {
    height: 550px !important;
    object-fit: cover;
  }
  .homepage-list {
    max-height: 100vh;
  }

  body .App .aside-name {
    font-size: 20px;
  }
  body .App .meeting {
    padding: 20px 10px;
  }

  body .App .news {
    padding-left: 15px;
    padding-right: 15px;
  }

  body .about-icons {
    top: 31%;
    left: 0%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }

  .category .category-page-box {
    display: none;
  }
  .about .about-text {
    margin-left: 20px;
  }
  .about .about-name {
    margin-left: -20px;
  }
  .about .about-item-link {
    margin-left: -160px;
  }
  .slick-box .slick-slide > div {
    width: 90%;
    margin: 0 auto;
  }

  .aside-page .slick-slide > div {
    margin: 0 auto;
    width: 95%;
  }

  .scroll-horizontal {
    display: none;
  }

  .category-box {
    display: block;
  }
  .App .category .category-right {
    padding-bottom: 25px;
  }

  .category .slick-slide > div {
    margin: 0 auto;
    width: 90%;
  }
  .category .mains {
    margin: 0 auto;
  }

  .App .category .category-texts {
    margin-top: 20px;
    display: none;
  }
}

@media (max-width: 430px) {
  /* .slick .slick-prev {
    top: -25%;
    left: 36%;
  } */
  /* .slick .slick-next {
    top: -25%;
  } */
  .slick .slick-count {
    top: -31%;
    left: 74%;
  }
  .slick .slick-counts {
    top: -31%;
    left: 56%;
  }
  .about .about-title {
    margin-left: -160px;
  }
}

@media (max-width: 415px) {
  .container {
    width: 100%;
  }
  .homepage-list {
    height: 100vh;
  }

  .App .footer {
    padding-left: 0px;
  }

  .slider .slider-span {
    padding-top: 20px;
  }
  body .App .slider .slider-pic {
    margin-top: 10px;
  }

  .App .slider .slider-list {
    height: 150px;
    width: 330px;
  }

  body .App .slider .slider-pic {
    height: 90px;
    width: 60px;
  }
  .slider .slider-name {
    font-size: 14px;
    width: 180px;
    margin-left: -40px;
  }
  .slider .slider-text {
    font-size: 10px;
    width: 150px;
    margin-left: -30px;
  }
  .App .slider .swiper-backface-hidden .swiper-slide:nth-child(1) {
    margin-left: 0px;
  }

  .slider .slider-list {
    height: 180px;
  }

  .App .content .container {
    top: 8%;
  }
  .content .content-imgs {
    height: 500px !important;
    object-fit: cover;
    background: linear-gradient(
      270deg,
      #000000 0%,
      rgba(0, 0, 0, 0) 79.96%,
      rgba(0, 0, 0, 0.52) 100%
    );
  }
  .content .content-list {
    margin-top: 35px;
  }

  .about .about-text {
    width: 85%;
    margin-left: 50px;
  }

  .about .about-item-link {
    margin-left: -130px;
  }
  .about-img {
    margin-left: -140px;
  }
  .about .about-name {
    margin-left: 20px;
  }

  body .App .header {
    padding-top: 30px;
  }

  .content .content-text {
    margin-left: 100px;
  }
  .about .about-title {
    margin-left: 20px;
  }
  .footer .footer-list:nth-child(2) {
    margin-left: -30px;
  }
  .footer .footer-title {
    justify-content: center;
  }
  .content .content-name {
    font-size: 35px;
    line-height: 40px;
    width: 170px;
  }
  .contact .form-name {
    padding-left: 15px;
  }
  .contact .form-list {
    padding-left: 15px;
  }
  .contact .form-lists {
    padding-left: 15px;
  }
}
