.slick-item {
  background-color: #e0cfaa;
  border-radius: 20px;
  width: 260px;
  height: 380px;
  margin: 15px;
  cursor: pointer;
  transition: 0.5s all ease-out;
}

.slick .slick-box{
  display: none;
}

.slick-left {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.slick-count {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 274;
  font-size: 28.6769px;
  line-height: 25px;
  color: #000000;
  position: absolute;
  top: -20%;
  left: 75.5%;
}

.slick-counts {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 274;
  font-size: 28.6769px;
  line-height: 25px;
  color: #000000;
  position: absolute;
  top: -20%;
  left: 71.5%;
}

.slick .slick-next {
  position: absolute;
  top: -10%;
  width: 47.93px;
  height: 47.93px;
  left: 80%;
}
.slick .slick-prev {
  position: absolute;
  top: -10%;
  width: 47.93px;
  height: 47.93px;
  left: 67%;
}

.slick .container {
  width: 85%;
  margin-left: 200px;
}

.slick-slide > div {
  margin: 0 16px;
}
.slick .slick-list {
  margin: 0 -10px;
}

.slick-title {
  width: 100%;
  transition: 0.5s all ease-out;
  border-radius: 25px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-title:hover {
  background-color: #fce8bd;
}

.slick-name {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 20px;
  color: #000000;
  padding: 20px 15px;
  text-align: center;
  overflow: hidden;
  flex-wrap: nowrap;
  max-height: 22px;
}

.slick-text {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14.0217px;
  line-height: 20px;
  color: #000000;
  margin-top: 30px;
  width: 180px;
  margin-left: 25px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-img {
  width: 250px;
  object-fit: cover;
  height: 150px;
}

.slick {
  background: #fce8bd;
  padding: 50px 0;
  margin-top: -10px;
  position: relative;
}

.slick-names {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 590;
  font-size: 30px;
  line-height: 136.6%;
  color: #000000;
  margin-left: 20px;
}

@media (max-width: 1440px) {
  .slick-items {
    position: absolute;
    top: 14.5%;
    left: 73%;
  }

  .slick .slick-next {
    top: -10%;
    left: 79%;
  }
  .slick .slick-prev {
    top: -10%;
    left: 64%;
  }
}

@media (max-width: 1360px) {
  .slick-items {
    position: absolute;
    top: 14.5%;
    left: 71%;
  }

  .slick-counts {
    left: 66%;
  }

  .slick-count {
    left: 71%;
  }

  .slick .slick-next {
    top: -10%;
    left: 77%;
  }
  .slick .slick-prev {
    top: -10%;
    left: 60%;
  }
}


@media (max-width: 800px) {
  .slick-counts {
    left: 63%;
    top: -29%;
  }

  .slick-count {
    left: 71%;
    top: -29%;
  }
}
